
@import "tailwindcss";




*,
*::before,
*::after {
  box-sizing: border-box;

}

/* Body styles */


body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F6F5F3;
}


/* Container for consistent padding */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;  /* 16px */
  padding-right: 1rem;
}

.language{
  background-color: #FEA91D;
  padding: 0.4rem;
}